@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#card_list{
  height: 500px;
  overflow-y: scroll;
}

#timer_prompt {
  width:30px;
}

#fav_progress {
  font-size: 15pt;
}

#running_switch{
  width:100px;
  padding: 10px 0px 10px 0px;
}

#content_ready{
  display: none;
}

.spinner{
  width: 200px;
  height: 200px;

  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;

  animation: spin 2s infinite linear;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }to{
     transform: rotate(360deg);
   }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(200, 200, 200, 1);
  position:fixed;
  left:0;
  top:0;
}



